aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
arabic-reshaper
asn1crypto
asttokens
attrs
bcrypt
blinker
build
certifi
cffi
charset-normalizer
chromadb
click
colorama
comm
contourpy
cryptography
cssselect2
cycler
debugpy
decorator
distro
durationpy
ecdsa
executing
fastapi
filelock
Flask
Flask-Bcrypt
Flask-Login
Flask-SQLAlchemy
flatbuffers
fonttools
frozenlist
fsspec
google-ai-generativelanguage
google-api-core
google-auth
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
gunicorn
h11
hf-xet
html5lib
httpcore
httpcore2
httptools
httpx
httpx-sse
httpx2
huggingface_hub
idna
importlib_resources
ipykernel
ipython
ipython_pygments_lexers
itsdangerous
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
kubernetes
langchain
langchain-classic
langchain-community
langchain-core
langchain-huggingface
langchain-protocol
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mmh3
mpmath
multidict
narwhals
nest-asyncio2
networkx
numpy
oauthlib
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
oscrypto
overrides
packaging
parso
passlib
pillow
platformdirs
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pyasn1
pyasn1_modules
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
pyHanko
pyhanko-certvalidator
pyparsing
pypdf
PyPika
pyproject_hooks
python-bidi
python-dateutil
python-dotenv
python-jose
python-multipart
PyYAML
pyzmq
referencing
regex
reportlab
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
sniffio
SQLAlchemy
stack-data
starlette
svglib
sympy
tenacity
threadpoolctl
tinycss2
tokenizers
torch
tornado
tqdm
traitlets
transformers
truststore
typer
typing-inspection
typing_extensions
tzdata
tzlocal
uritools
urllib3
uuid_utils
uvicorn
watchfiles
wcwidth
webencodings
websocket-client
websockets
Werkzeug
xhtml2pdf
xxhash
yarl
zstandard
gunicorn
